[2016-01-05 15:26] FrancescoCioria opened #1 "let's define our base sets of eslint rules!"
@gabro @giogonzo @francescogior @ascariandrea

Hi everyone! In the last week only I fixed/updated like 4 `.eslintrc` configuration files so, as the base configuration is always the same, I created this new package where we can define our base sets.

For now we only have two files: `default.js` and `production.js`

But the point of this discussion is decide which sets we need and create a set of ru

[2016-01-05 15:40] gabro opened #2 "jsx-quotes: 'prefer-single'"
Currently we use `jsx-quotes` with `prefer-double` which enforces double quotes on JSX strings, but at the same time we use single quotes for strings.

Many others (see airbnb) do the same, and this is the usually the motivation:

However, in our case:
- you typically need apostrophes while writing English text in attributes. We don't usually do this (strings are in a separate json file) and in th

[2016-01-05 15:58] gabro commented on #1
How would you handle `default` and `production`?

Develop with `default` and run tests/CI against `production`?

[2016-01-05 16:02] gabro commented on #1
You can do just

[code]

`eslint-config-` is implicitly assumed by eslint :coffee:

[2016-01-05 16:05] gabro commented on #1
To add/remove custom rules per-project

[code]

[2016-01-05 16:11] francescogior commented on #2
+1 for single quotes!
- it's lighter (more beautiful to see)
- JSX in the end is (transpiled) to JS

[2016-01-05 16:40] giogonzo commented on #1
about having more than 1 config: I can see the benefit in allowing certain debug-related stuff only in `development` and instead reporting them when running CI (for private and public projects) with `production`...

But I fear the complications it would add, so my vote goes to sticking to a single config (disallowing `console` and the like)

[2016-01-05 16:44] giogonzo commented on #2
no explicit preference here, `prefer-double` is there in our projects (sometimes) just because it is "the standard"

anyway it is not `eslint --fix`able yet as a rule. ~~We could consider to make it fixable in `eslint` which seems a "good first bug" (easy)~~ There's this: https://github.com/eslint/eslint/pull/4374

[2016-01-05 17:15] gabro commented on #1
I mostly agree with @giogonzo

[2016-01-14 10:37] FrancescoCioria opened #3 "remove `production` rules"
## requirements

let's have only one source of truth for our rules, having `production.js` seems more complex than useful
(refer to comments in #1)
## specs

move rules from 'production.js' to default one

[2016-01-15 14:17] FrancescoCioria opened #4 "fix dependencies"
required dependencies are currently declared as `dev-dependencies`!

[2016-01-15 14:20] #4 closed, assigned to FrancescoCioria

[2016-01-18 11:21] giogonzo opened #6 "consider more plugins to include"
I have these on my list:
- https://github.com/jussi-kalliokoski/eslint-plugin-no-implicit-side-effects (forget the `void` stuff, we can just disable inline when needed, and it should be in some very special cases) (also there's a good list of other rules we could add at the end of the readme)
- https://github.com/benmosher/eslint-plugin-import

what do you think?

[2016-01-18 11:38] FrancescoCioria commented on #6
Does `eslint-plugin-import` also prevent osx case-insensitive issues?
Anyway, they both look useful! (The first one might cause a big refactor though. I suggest we try it first)

[2016-01-18 11:41] giogonzo commented on #6
Not sure, but I fear that is at a much lower level: "case-insesitivity-broken" imports will look good to `eslint-plugin-import` too on OSX

[2016-01-18 11:47] gabro commented on #6
+1 for both

[2016-01-18 18:10] giogonzo opened #7 "add more rules to default config"
some experiments in: https://github.omnilab.our.buildo.io/buildo/labonline/blob/web-1416-test_new_eslint_plugins/web/.eslintrc

that `.eslintrc` should contain exactly the proposed diff wrt current `buildo/default`

(note that `no-this-before-super` is already here but disabled (for no reason?))

Some of the rules that I added are a bit opinionated, e.g. `no-plusplus`.. but it made me discover thi

[2016-01-18 18:14] francescogior commented on #7
:innocent:

[2016-01-18 18:16] giogonzo commented on #6
`eslint-plugin-no-...` requires node v4, so paused for now

about `eslint-plugin-import` (testing on LOL): it is slowing everything down a lot but it has proved useful: I found a few useless files that could have been removed + a few duplicate imports from `Basic` in multiple files

See more here: https://github.omnilab.our.buildo.io/buildo/labonline/pull/1417

It is also complaining for this (in

[2016-01-19 12:08] #3 closed, assigned to nobody

[2016-01-19 12:20] giogonzo commented on #7
@gabro @FrancescoCioria @francescogior added more rules in linked PR. Please comment now or forever hold your peace

[2016-01-19 12:21] giogonzo commented on #7
/cc @ascariandrea

[2016-01-19 15:12] #7 closed, assigned to giogonzo

[2016-01-19 16:06] gabro opened #12 "Add `eqeqeq`"
http://eslint.org/docs/rules/eqeqeq

[2016-01-19 16:06] gabro commented on #12
Anyone against it? @buildo/frontend ?

[2016-01-19 16:11] giogonzo commented on #12
:+1:

[2016-01-19 16:12] gabro commented on #2
Autofix support has been merged (https://github.com/eslint/eslint/pull/4932).
Waiting for the next eslint release.

[2016-01-19 16:12] gabro commented on #1
Closing this as it's probably useless now.

[2016-01-19 16:12] #1 closed, assigned to nobody

[2016-01-19 16:13] FrancescoCioria commented on #12
:+1:

[2016-01-19 16:44] francescogior commented on #12
:+1:

On Tue, Jan 19, 2016 at 5:13 PM Francesco notifications@github.com wrote:

[2016-01-19 17:44] #12 closed, assigned to nobody

[2016-01-21 10:40] FrancescoCioria opened #15 "some established rules have disappeared!"
`no-unused-vars`, `comma-dangle`, `semi`, `no-trailing-spaces`, `quotes`
where have they gone? :) @gabro @giogonzo

I think we should definitely re add them, especially `no-unused-vars` (detects useless imports too)

[2016-01-21 11:07] FrancescoCioria commented on #15
I'm not sure if `quotes: [2, "single"]` will complain about jsx quotes too...

[2016-01-21 11:09] giogonzo commented on #15
I removed what is already part of eslint:recommended but probably I missed something..

About quotes no, they shouldn't overlap

[2016-01-21 11:10] ascariandrea commented on #15
I think also `semi` (for semicolons) has been deactivated..

[2016-01-21 11:16] FrancescoCioria commented on #15
@ascariandrea yes, it's in the list above :stuck_out_tongue_closed_eyes:

[2016-01-21 11:18] ascariandrea commented on #15
I'm blind :see_no_evil:

[2016-01-21 11:39] gabro commented on #15
`quotes` does not consider jsx-quotes

[2016-01-21 11:45] #15 closed, assigned to FrancescoCioria

[2016-01-21 16:05] gabro opened #18 "Implicit return and arrow functions"
I find this confusing:

[code]

That's an implicit return, but I personally can't parse it easily because it's on a separate line.

I propose to always stick to either

[code]

or

[code]

This improves readability and predictability, imho. @buildo/frontend, thoughts?

[2016-01-21 16:18] francescogior commented on #18
I like to use implicit return for functions that returns 'templates', even if split in lines

[code]

[2016-01-21 16:22] gabro commented on #18
good point, I think that's acceptable.
It's not a matter of single/multiple lines, rather whether the expression is "linked" to the line where `=>` is.

New formulation of the "rule":

Another similar example

[code]

[2016-01-21 16:40] ascariandrea commented on #18
I don't think you resolve readability on last example by make the return explicit:

[code]

What's the fat arrow implicit return purpose? Avoid the overhead of writing return statement for functions with single declaration in body?

I think we should encourage that as long as is readable.

[code]

[2016-01-21 16:45] gabro commented on #18
Sorry, I realize I wasn't clear.

The last example I posted is a **good** one, in my view. The implicit return is made clear by the fact that the expression begins right after the `=>`.

The last you posted is not, in my opinion. I find it hard to parse, because of the new line after the `=>`

[2016-01-21 17:22] gabro commented on #18
To sum it up

## Good cases

[code]

[code]

[code]

[code]

## Bad cases

[code]

[code]

[2016-01-21 18:21] giogonzo commented on #18
I'd say this sums it up perfectly, :+1:

But I don't think there's any rule for that (slightly related: http://eslint.org/docs/rules/arrow-body-style)

[2016-01-21 18:40] gabro commented on #18
:angel: https://github.com/buildo/eslint-plugin-fat-arrow-same-line

[2016-01-22 12:15] giogonzo opened #19 "why are we repeating some rules from eslint:recommended?"
Just something we need to check / understand:

as pointed out here #15 , some rules weren't being checked without explicitly repeating them even though they are part of `eslint:recommended` (I think just `no-unused-vars`, `comma-dangle`, see http://eslint.org/docs/rules/)

[2016-01-25 11:17] FrancescoCioria opened #20 "custom eslint rules to enforce conventions"
original issue: https://github.omnilab.our.buildo.io/buildo/labonline/issues/1305
## requirements

`eslint` can be very effective to enforce some conventions. We're already using it to verify if a component's name is the same of its filename.
New rules to help us enforce some conventions::
- a Component can import only one `sass` file and only if it has the same name (but in `camelCase`)
  - ex: `

[2016-01-27 18:31] giogonzo opened #21 "add object-shorthand"
not sure if it was there or not, but it's not anymore and it's not part of eslint:recommended

it should be: `"object-shorthand": [2, "always"]`

[2016-01-27 18:57] #21 closed, assigned to nobody

[2016-01-30 15:54] giogonzo opened #27 "kill the comments"
e.g. `// (fixable)`

they are useless and tedious to keep in sync with reality

[2016-02-01 11:36] FrancescoCioria opened #31 "require space after keywords"
I think we should enforce this rule http://eslint.org/docs/rules/space-after-keywords.html

ex:

[code]

[2016-02-01 12:41] #31 closed, assigned to nobody

[2016-02-01 19:45] giogonzo opened #34 "add wrap-iife: [2, "inside"]"
http://eslint.org/docs/rules/wrap-iife.html

for readability, I think

[code]

is better than both

[code]

and

[code]

e.g. see https://github.omnilab.our.buildo.io/buildo/labonline/pull/1510/files#diff-5987c54300ae1129b26846f0f758a1c6R90

[2016-02-01 22:02] gabro commented on #34
+1!

[2016-02-02 08:35] #34 closed, assigned to nobody

[2016-02-02 14:25] #27 closed, assigned to nobody

[2016-02-05 00:45] gabro commented on #2
Merged on eslint, fix now works.

[2016-02-10 16:42] giogonzo opened #39 "consider adding no-extra-parens"
http://eslint.org/docs/2.0.0/rules/no-extra-parens

[2016-02-12 09:45] gabro opened #41 "Dependency on eslint?"
Is it correct that we depend on eslint?

https://github.com/buildo/eslint-config/blob/master/package.json#L28

My spidey sense tells me it should only be a `peerDependency`

[2016-02-16 14:43] FrancescoCioria commented on #41
yes

[2016-02-17 20:43] #2 closed, assigned to nobody

[2016-02-18 09:20] #41 closed, assigned to nobody

[2016-02-18 09:21] gabro commented on #18
Since there's no agreement on this, I'll close it for now

[2016-02-18 09:21] #18 closed, assigned to nobody

[2016-02-23 14:49] ascariandrea opened #47 "react/jsx-equals-spacing doesn't work"
Atom complains about rule definition not found and `eslint` doesn't complain at all about `react/jsx-equals-spacing`.

Seems related to `eslint-react-plugin` version: [https://github.com/yannickcr/eslint-plugin-react/issues/21](https://github.com/yannickcr/eslint-plugin-react/issues/21)

[2016-03-01 11:32] ascariandrea opened #49 "Update eslint to v2"
## requirements
- update to `eslint@2.2.0`
- update/replace deprecated rules
## specs
- update rule by rule and check for _warnings_ and _errors_

[2016-03-01 11:49] ascariandrea commented on #49
This results in a duplicate of #48

[2016-03-01 11:49] #49 closed, assigned to ascariandrea

[2016-03-02 11:24] giogonzo opened #51 "re-enable no-use-before-define"
## requirements

re-enable the rule when this is fixed https://github.com/babel/babel-eslint/issues/249

[2016-03-16 09:17] gabro opened #52 "default rule config is not supported anymore by eslint 2.0"
## description

Updating to eslint 2 may have caused some plugin rules to be turned off, as the `ruleConfig` key of plugins is now ignored.

See https://github.com/buildo/eslint-plugin-no-loops for an example.
## specs

Run through all plugins we use and explicitly activate the rules we expect to be on.

/cc @buildo/frontend

[2016-03-16 09:19] gabro commented on #51
Looks fixed by https://github.com/babel/babel-eslint/releases/tag/v6.0.0-beta.6

[2016-03-16 09:20] gabro commented on #39
@buildo/frontend is there any agreement on this?

I vote for adding it.

[2016-03-16 09:21] gabro commented on #19
Is this still actual?

[2016-03-16 09:26] ascariandrea commented on #39
+1

[2016-03-16 09:29] #39 closed, assigned to nobody

[2016-03-16 09:43] gabro commented on #47
Is this still actual, @ascariandrea?

[2016-03-16 09:44] gabro commented on #52
plugins to check
- [x] react
- [x] no-loops
- [x] no-copy-paste-default-export

[2016-03-16 09:45] ascariandrea commented on #47
Nope, we can close it now as it was resolved by a new `eslint-react-plugin` version.

[2016-03-16 09:45] #47 closed, assigned to nobody

[2016-03-16 09:45] gabro commented on #52
The react plugin looks ok, as we're already explicitly activating the rules.

[2016-03-16 09:46] gabro commented on #47
Perfect, thanks!

[2016-03-16 09:52] gabro commented on #52
Ok, I've enabled the other two plugins.

[2016-03-16 09:54] FrancescoCioria commented on #19
I actually think we should do the opposite: we're relying on `eslint:recommend` for rules we find useful. Unfortunately they're not simply adding rules to the recommended group, sometimes they're removing some from it or editing them (ex: https://github.com/eslint/eslint/commit/79ebbc962fedeadfe8e69d8a43ed1f5bf440d0cf)
I think it would be safer and more stable to repeat the rules we're 100% sure w

[2016-03-16 09:55] gabro commented on #19
I agree. If the set of rules is not stable and not under our control, let's just copy them over and be done with it.

[2016-03-16 10:04] gabro commented on #19
On a second thought, I have a different proposal.

Changes to recommended rules are clearly marked as **breaking** in eslint releases.

How about we fix to a specific version of eslint (e.g. 2.4) and when we manually update it, we check for breaking changes (as we should do anyway)?

[2016-03-16 10:12] #52 closed, assigned to nobody

[2016-03-16 12:02] giogonzo commented on #39
FYI ended up disabling this in LOL, it doesn't have a granular configuration and it complains for stuff like:

[code]

[2016-03-16 15:29] giogonzo commented on #19
always in favor of pinning versions :+1:

[2016-03-16 16:06] FrancescoCioria commented on #39
same problems on `b-r-c`, too many false positives. It complains about this too:

[code]

I think those parentheses aren't useless as it's much easier to read the expression with them

[2016-03-16 16:08] gabro commented on #39
Ok, bad call. Let's revert it

On 16 Mar 2016 17:07 +0100, Francesconotifications@github.com, wrote:

[2016-03-23 13:59] #51 closed, assigned to giogonzo

[2016-03-23 14:09] ascariandrea opened #56 "Disable global find"
## requirements
- eslint doesn't mark `find` as undefined variables (cause it's a `js` native function)
## specs
- turn off the global `find` var
## misc
- my experience is I only use the `lodash` `find` method and sometimes I forget to import in the current file. No lint errors, but code doesn't work and I lose time debugging :/

[2016-03-23 14:38] giogonzo commented on #56
So yes, `find` is a `browser` env non-assignable global: https://github.com/sindresorhus/globals/blob/master/globals.json#L27
Looking at this doc http://eslint.org/docs/user-guide/configuring#specifying-globals, it's not clear how to "unset/disable" it (remove just `find` as global)

Any pointers?

[2016-03-23 14:42] giogonzo commented on #56
found this: http://eslint.org/docs/rules/no-restricted-globals

[2016-03-23 17:46] FrancescoCioria opened #58 "remove no-extra-parens (revert #53)"
## requirements

as discussed in #39 we should revert #53 and remove `no-extra-parens` as it's too strict for us

[2016-03-23 17:50] #58 closed, assigned to FrancescoCioria

[2016-03-24 09:26] #56 closed, assigned to giogonzo

[2016-03-29 11:03] gabro commented on #19
I took a look at this, and it looks like eslint is not introducing breaking changes on minor releases, so I think our peer dependency on `^2.4.0` is already good enough.

Thoughts @buildo/frontend?

[2016-03-29 11:12] FrancescoCioria commented on #19
I agree... but let's remember to check! :)

[2016-04-06 14:29] gabro commented on #19
Ok. Nothing do do here. :)

[2016-04-06 14:29] #19 closed, assigned to gabro

[2016-05-20 09:16] ascariandrea opened #60 "[Rules] Add max-len rule"
## requirements

We should add the rule to lint very long lines.
The default value for code line is `80`, which could be fine (to test before) and comments are configurable.
## specs
- [eslint max-len](http://eslint.org/docs/rules/max-len)
## misc

{optional: other useful info}

c/c @buildo/frontend

[2016-05-20 09:19] gabro commented on #60
I'm in favor, not sure 80. 100 maybe?

[2016-05-20 09:20] giogonzo commented on #60
💯 💯 💯
yes at least 100 IMO, but we should test on specific cases

[2016-05-20 09:29] francescogior commented on #60
at buildo I'm the one with the smallest display and with the biggest font-size 👓 but `120` chars don't wrap!

[2016-05-20 09:32] ascariandrea commented on #60
I'm going to try with 120 🙈

[2016-05-20 09:40] gabro commented on #60
120 is way too much for working with split screens.

Also the GitHub mobile interface has 80 characters.

No more that 100, IMHO.

[2016-05-25 16:24] #60 closed, assigned to ascariandrea

[2016-05-30 13:40] gabro opened #62 "plugin idea: eslint-plugin-tcomb"
A plugin to enforce some conventions in tcomb.

Possible rules:
### `no-unnamed-types`
#### description

types should always have a name
#### specs

check last arguments of type definitions

---
### `no-loose-structs`
#### description

structs should be `strict` by default
#### specs

second argument of `t.struct` should be an object with `strict: true`

[2016-05-30 13:40] gabro commented on #62
/cc @giogonzo @FrancescoCioria @francescogior @ascariandrea

[2016-05-30 13:44] gabro commented on #62
/cc @gcanti

[2016-05-30 14:00] gcanti commented on #62
`no-unchecked-enums`

**Description**

every check involving a string (`=== string`) should be wrapped by an enum

**Example**

[code]

[2016-05-30 14:05] giogonzo commented on #62
Nice!

this check could be too broad, we probably have legit cases when you want to be able to === 'string'.. do we?

[2016-05-30 14:07] gabro commented on #62
`no-unchecked-enums` I would love this, but I have the same concern

I fear this will have counter-examples, can we think of one?

[2016-05-30 16:22] gabro commented on #62
In the meanwhile... https://github.com/buildo/eslint-plugin-tcomb

[2016-05-30 16:35] gcanti commented on #62
@gabro awesome, I'll add a link to `tcomb`'s README

[2016-05-30 17:03] gabro commented on #62
other ideas: `no-any`

[2016-05-30 17:12] gcanti commented on #62
We should open an issue (issues) on the new repo, I guess

[2016-05-30 17:35] gabro commented on #62
Ok, closing this and let's track stuff on the repo

[2016-05-30 17:35] #62 closed, assigned to nobody

[2016-06-01 15:39] gabro opened #63 "new rules proposal"
Add [`no-extend-native`](http://eslint.org/docs/rules/no-extend-native) and [`no-native-reassign`](http://eslint.org/docs/rules/no-native-reassign)

/cc @buildo/frontend

[2016-06-01 16:20] FrancescoCioria commented on #63
👍  they look very reasonable and a safe addition (I expect to have ~zero errors in our projects, right?)

[2016-06-01 16:49] giogonzo commented on #63
yes I expect 0 errors, do you have an actual use case where this would have helped you @gabro ?

Anyway 👍 for adding

[2016-06-01 18:00] gabro commented on #63
no use case, I just stumbled upon them today and realized we didn't include them

[2016-06-01 18:02] gabro commented on #63
woops, [I commited directly on master](https://github.com/buildo/eslint-config/commit/c3d86afc1f5c561fe4231be9ab8b71b9dce62b30). Anyone against?

[2016-06-02 20:20] giogonzo opened #64 "want: no-magic-numbers"
http://eslint.org/docs/rules/no-magic-numbers

[2016-06-02 22:06] gabro commented on #64
+1. Any data from our code bases?

[2016-06-03 09:43] FrancescoCioria commented on #64
#sbatti (I like the idea, but it's heavy.. ex: `style: { margin: 30 }` or `<FlexView basis={100} ...`)

[2016-06-03 10:51] dhinus opened #65 "want: dot-location"
http://eslint.org/docs/rules/dot-location

[2016-06-03 10:53] gabro commented on #65
As discussed on Slack, the general consensus seems to be "property", e.g.

[code]

as opposed to "object":

[code]

thoughts? @buildo/frontend

[2016-06-03 10:56] gabro commented on #65
0 style issues found on LOL with `property` 🎉

[2016-06-03 12:25] FrancescoCioria commented on #65
I already write my code like this so 👍

[2016-06-03 12:51] gabro commented on #63
apparently not

[2016-06-03 12:51] #63 closed, assigned to nobody

[2016-06-03 16:19] FrancescoCioria commented on #64
- LOL: 330
- brc
  - /src: 116
  - /test: 47

[2016-06-03 16:26] giogonzo commented on #64
I guess majority is in component inline style? Anyway it doesn't look much configurable :(

[2016-06-03 16:27] giogonzo commented on #64
(btw /test shouldn't probably be considered)

[2016-06-03 16:29] giogonzo commented on #64
(obviously lost your first comment edit..)

[2016-06-06 17:31] FrancescoCioria opened #66 "dot-notation"
http://eslint.org/docs/rules/dot-notation

we're already doing this, but it can be useful if we forget things like this:
![image](https://cloud.githubusercontent.com/assets/4029499/15831311/47dcce2c-2c1d-11e6-93bc-792af8e1d9be.png)

[2016-06-17 14:04] #66 closed, assigned to nobody

[2016-06-17 14:05] gabro commented on #64
looks not feasible for us to adopt. Closing until it's more configurable

[2016-06-17 14:05] #64 closed, assigned to nobody

[2016-06-17 14:18] gabro opened #69 "comma dangle"
I'm really tired of seeing diffs like this

[code]

😠

or

[code]

😧

I'm proposing to change comma-dangle from `never` to `always-multiline`, so that we can have nice diffs:

[code]

🎉

or

[code]

💯

I'm not a big fan of it from a purely _aesthetic_ point of view, but the advantages are pretty huge when it comes to diffs.

It also makes much easier and less error prone to manipulate objects and

[2016-06-17 14:22] gabro commented on #69
In case you're wondering, I'm proposing `always-multiline` and `always` because we don't want this

[code]

Ugh... 😨

With `always-multine` the comma is required only in multiline objects/arrays, and forbidden in in-line ones. 👍

[2016-06-20 10:20] FrancescoCioria commented on #69
😢  (very bad-looking)

[2016-06-20 11:11] gabro commented on #69
I know, but what about the other concerns? I think the diff part is huge (and it's also easier when writing code)

[2016-06-22 14:28] dhinus opened #70 "List npm modules"
## requirements

The Readme should list the required npm modules.
## specs

Add `npm i ...`
## misc

Airbnb [does it](https://github.com/airbnb/javascript/tree/master/packages/eslint-config-airbnb#eslint-config-airbnb-1) ;)

[2016-06-23 09:30] #70 closed, assigned to dhinus

[2016-08-09 15:20] giogonzo opened #72 "curly"
http://eslint.org/docs/rules/curly

set on `"all"`, basically:

**ok**

[code]

**not ok**

[code]

Given that there are only 2 errors in the current LOL codebase (and both by @dhinus :P) it should be a relatively shared rule among buildojsers

@buildo/frontend thoughts?

[2016-08-09 15:26] dhinus commented on #72
Personally I like one-line if statements. 😛
I vote for the [multi-line](http://eslint.org/docs/rules/curly#multi-line) option!

Ok:

[code]

Not ok:

[code]

[2016-08-09 15:29] gabro commented on #72
My vote goes to `all`. Less surprising to parse.

[2016-08-09 15:31] ascariandrea commented on #72
I'm for `all`!
@dhinus you can always write

[code]

[2016-08-09 16:00] dhinus commented on #72
Ok, I can live with that :)

[2016-08-16 09:09] #65 closed, assigned to nobody

[2016-09-05 17:56] gabro opened #73 "rule proposal: method names"
proposal: method names should never start with `_`. I mostly agree with AirBnb, after reading this discussion https://github.com/airbnb/javascript/issues/1024

We could use this brand new eslint plugin to enforce it https://github.com/buildo/eslint-plugin-method-names/tree/master 💯

@buildo/frontend

[2016-09-05 19:39] FrancescoCioria commented on #73
For me it's ok, but we'll have to fix a lot of code for this (ex: I did it once today :P)

[2016-09-06 10:09] gabro commented on #73
by the way, I'm proposing this as a core rule on ESLint, let's see whether it gets accepted.

https://github.com/eslint/eslint/issues/7065

[2016-09-14 10:33] FrancescoCioria opened #74 "max-len should ignore URLs, strings and imports"
## requirements

IMO `max-len` (to be finally more useful than annoying) should ignore URLs, strings and imports.
http://eslint.org/docs/rules/max-len#ignoreurls

@buildo/frontend
## specs
- ignore strings, URLs and templateLiteral
- add regexp to ignore imports
## misc

{optional: other useful info}

[2016-09-14 10:39] gabro commented on #74
sounds good to me

[2016-09-14 10:39] gabro commented on #74
not sure about imports, those can be easily split into multiple lines, if you're destructuring.

[2016-09-14 14:24] FrancescoCioria commented on #74
Yes, we should probably remove the ugly regex for the imports

On Sep 14, 2016 13:39, "Gabriele Petronella" notifications@github.com
wrote:

[2016-09-27 13:42] FrancescoCioria opened #76 "update eslint peer dep"
## description

eslint peer dependency is fixed to 2.x while eslint has been using for months 3.x.
## how to reproduce
- {optional: describe steps to reproduce defect}
## specs

update eslint peer dependency
## misc

{optional: other useful info}

[2016-09-27 13:50] #76 closed, assigned to nobody

[2016-09-27 15:11] FrancescoCioria commented on #74
We reverted the PR due to a breaking change in "max-len" syntax that broke projects with `eslint@2`.

We should first upgrade every project that depends on this rules to `eslint@3` and than re-merge the PR

[2016-09-27 15:27] #74 closed, assigned to FrancescoCioria

[2016-10-19 13:42] gabro opened #79 "rule proposal: promise plugin"
Essentially this: https://github.com/xjamundx/eslint-plugin-promise

Thoughts? @buildo/frontend

[2016-10-19 13:43] gabro commented on #72
@buildo/frontend let's take a decision on this, vote as a reaction to the original post!

[2016-10-19 13:44] gabro commented on #69
@buildo/frontend let's take a decision on this (vote under the original post)

[2016-10-19 13:54] FrancescoCioria commented on #79
Interesting! I don't have (yet?) an opinion about each rule/case, but in general I have the feeling that some of them would be useful immediately.

If more people find this [promising](http://i2.kym-cdn.com/photos/images/original/000/434/244/817.png) I think we should test each rule and report here the current amount of "errors" we have in QIA/AlinIQ

[2016-10-19 15:59] gabro commented on #79
👍 ok for me, wanna list the ones you would include?

[2016-10-19 16:13] ascariandrea commented on #79
As most of the time those rules are already shared, but not enforced, so my personal list would be

Simple and efficient

[code]

Never saw in our code, anyway enforce it could be helpful

[code]

Not really useful (should we check param names for all lambdas we have)?

[code]

I ofter personally omit the `catch` part of a promise cause I'm confident errors will never happen 🙈

[code]

"In an ES5

[2016-10-19 17:34] giogonzo commented on #79
no but this one is a very special one ( a "revealing constructor" one https://blog.domenic.me/the-revealing-constructor-pattern/ , lol btw :P )

so I'm in favor of keeping the `resolve` and `reject` names consistent

[2016-10-19 17:41] gabro commented on #79
What @ascariandrea proposes is all 👍 for me, with the exception of `param-names` for which I agree with @giogonzo

[2016-10-19 17:44] giogonzo commented on #79
(keeping `param-names` I think we end up in the default setting for this rule)

[2016-10-28 08:59] ascariandrea commented on #79
Do we agree in adding this with default settings?

[2016-10-28 09:16] ascariandrea opened #80 "Empty lines"
I would like to propose some rules to prevent enforce rules about empty lines:
- [`no-multiple-empty-lines`](http://eslint.org/docs/rules/no-multiple-empty-lines)
  I would go for the default setting
- [`padded-blocks`](http://eslint.org/docs/rules/padded-blocks#blocks)
  I would set: `blocks => "never"`, `classes => "always"` and `switches => "always"`
- [`newline-after-var`](http://eslint.org/do

[2016-10-28 09:26] dhinus commented on #80
I like this. I agree on everything except `switches => "always"`, I vote for `switches => "never"`.

(I'm a big fan of `newline-before-return` :heart:)

[2016-10-28 09:37] gabro commented on #79
Full force ahead! ✌️ But please make sure to fix projects before merging

[2016-10-28 09:38] gabro commented on #80
Same exact feedback as @dhinus!

[2016-10-28 09:55] ascariandrea commented on #80
This is a `switch` in AMS code:

[code]

For me it's a little compressed, isn't it? 🌷

[2016-10-28 10:15] gabro commented on #80
### Option 1

[code]

### Option 2

[code]

### Option 3

[code]

### Option 4

[code]

[2016-10-28 10:16] gabro commented on #80
cast your vote :P

[2016-10-28 10:24] FrancescoCioria commented on #80
But I used this :(

[code]

[2016-10-28 10:25] FrancescoCioria commented on #80
anyway, if I have to choose I vote for Option2

[2016-10-28 10:32] ascariandrea commented on #80
How can we enforce the **Option2** anyway?
The only _option_s we can enforce are **Option1** (`"never"`) and **Option3** (`"always"`) and the only difference between **Option2** and **Option3** are the empty line before the first `case` and an empty line before the close of the `switch` statement.

Am I wrong?

[2016-10-28 10:47] dhinus commented on #80
My vote is for `Option2` but it's hard to enforce.

Using `switches=always` only enforces the empty line before the first `case` and after the last one. But you could still have all the cases compressed with no empty lines between them, i.e.

## Option 5

[code]

[2016-10-28 10:55] gabro commented on #80
Yes, that's a part I was missing. The rule only enforces the lines **around** right? If that's the case, I would opt for `"never"`. I care about lines in between in those cases, which it seems it can't be enforced.

[2016-10-28 10:59] FrancescoCioria commented on #80
I say we open a different issue for this rule as it's seems it will require some time to decide a rule everyone agrees on

[2016-11-09 14:19] FrancescoCioria opened #82 "upgrade eslint-plugin-react"
## requirements
let's upgrade `eslint-plugin-react` to v6.x

## specs
{optional: describe technical specs to implement this feature, if not obvious}

## misc
{optional: other useful info}

[2016-11-10 10:46] FrancescoCioria opened #85 "upgrade eslint-plugin-no-loops"
## requirements
upgrade eslint-plugin-no-loops to `v0.3.x`

## specs
{optional: describe technical specs to implement this feature, if not obvious}

## misc
{optional: other useful info}

[2016-11-10 13:49] ascariandrea commented on #80
Do we agree about setting `"never"` for _switches_ rule?

[2016-11-16 09:02] ascariandrea commented on #82
I want the [sort-comp](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/sort-comp.md) :)

[2016-11-16 14:40] gabro opened #92 "Create test project to test our rules against"
## requirements
The idea is to have a test suite so that we can update rules and dependencies with some confidence.

## specs
My current proposal is to create a comprehensive project compliant with our ESLint standards.

This allows us to run an updated configuration against the project and verify that nothing breaks.

[2016-11-18 16:03] gabro commented on #6
@giogonzo want to re-evaluate these?

[2016-11-18 16:04] gabro commented on #69
Apparently we voted against this. Enjoy your messy diffs! 😭

[2016-11-18 16:04] #69 closed, assigned to nobody

[2016-11-18 16:52] giogonzo commented on #6
`eslint-plugin-import` is really helpful, but not fast enough on our average code base I think. Maybe it can be configured with excludes to help with performance

I still like both, but I honestly don't have the time to do it.. closing for now

[2016-11-18 16:52] #6 closed, assigned to nobody

[2016-11-19 15:05] #82 closed, assigned to FrancescoCioria

[2016-11-19 15:06] #85 closed, assigned to FrancescoCioria

[2016-11-21 11:11] #92 closed, assigned to nobody

[2016-12-30 10:56] ascariandrea opened #96 "Find a way to document code"
## requirements
The code documentation should be enforced, at least for some cases, to let external devs understand better how app works, to improve code quality and organization.

## specs
For "documentation" I don't mean *jsdoc* or any other standard, but I'm referring to the concept itself. So we need to define first what parts of code need to be documented and how.

## misc
A possible solution

[2016-12-30 11:06] gabro commented on #96
This is a bit too "solution-oriented".

I would rather say: "The code should be understandable".

Inline documentation is just one way of doing it. Other possible approaches (not mutually exclusive):

- type annotations (flow or similar)
- tests
- readmes
- etc...

About enforcing documentation on every function, I find it an unnecessary overhead that would often be useless.

[2017-01-03 16:18] gabro opened #97 "Evaluate eslint-plugin-compat"
See https://github.com/amilajack/eslint-plugin-compat

[2017-01-13 17:06] gabro opened #98 "Add array-bracket-spacing"
Add http://eslint.org/docs/rules/array-bracket-spacing

We essentially already follow the default, but using linto I've found a few instances where this isn't true.

linto report:

|     | repo                    | errors | warnings |
| :-: | :---------------------- | :----: | :------: |
|  ❌  | buildo/aliniq           |    4   |     0    |
|  ✅  | buildo/web-shared       |    0   |     0    |
|

[2017-01-14 12:03] gabro commented on #97
Linto report

|     | repo                    | errors | warnings |
| :-: | :---------------------- | :----: | :------: |
|  ✅  | buildo/aliniq           |    0   |     0    |
|  ✅  | buildo/web-shared       |    0   |     0    |
|  ✅  | buildo/react-components |    0   |     0    |
|  ✅  | buildo/ipercron         |    0   |     0    |
|  ❌  | buildo/avenger          |    3   |     0    |
|  ✅  |

[2017-01-14 12:06] gabro commented on #72
Done in https://github.com/buildo/eslint-config/commit/6bb52e0c4c25a0b5ff9b4cc4f5b0ecf9e23d772b

[2017-01-14 12:06] #72 closed, assigned to nobody

[2017-01-14 12:14] gabro commented on #80
Linto report for

[code]

|     | repo                    | errors | warnings |
| :-: | :---------------------- | :----: | :------: |
|  ❌  | buildo/aliniq           |   210  |     0    |
|  ❌  | buildo/web-shared       |   68   |     0    |
|  ❌  | buildo/react-components |   41   |     0    |
|  ❌  | buildo/ipercron         |   52   |     0    |
|  ✅  | buildo/avenger          |    0   |     0

[2017-01-14 12:37] gabro commented on #80
Linto report for `no-multiple-empty-lines`

|     | repo                    | errors | warnings |
| :-: | :---------------------- | :----: | :------: |
|  ✅  | buildo/aliniq           |    0   |     0    |
|  ✅  | buildo/web-shared       |    0   |     0    |
|  ✅  | buildo/react-components |    0   |     0    |
|  ✅  | buildo/ipercron         |    0   |     0    |
|  ✅  | buildo/avenger

[2017-01-14 12:41] gabro commented on #80
Since the last one is already ok, I've opened a PR https://github.com/buildo/eslint-config/pull/99

[2017-01-15 14:27] giogonzo commented on #97
No it is not using fetch, I think it's a false positive

[2017-01-15 15:08] FrancescoCioria commented on #97
I remember it did, did you change it? I remember having to add a polyfill for IE11 due to `fetch`

[2017-01-15 15:09] gabro commented on #97
If you run linto it now returns the snippet of where it's used and it did with Avenger. I'll double check

[2017-01-15 15:22] giogonzo commented on #97
@gabro can't run it now from mobile; I think it's a false positive because the keyword `fetch` indeed appears multiple times in src, but not accessing the global `fetch` api https://github.com/buildo/avenger/search?utf8=%E2%9C%93&q=fetch

@FrancescoCioria common misconception, avenger lib itself is not interested in http or using any xhr api/library. If someone was requiring `fetch`, it must have

[2017-01-15 15:30] gabro commented on #97
Oh, yes then it probably matches the keyword, and it's a false positive. I'll try  soon

[2017-02-06 11:00] giogonzo opened #101 "Add spaced-comment and no-multi-spaces"
Proposing these together since both very minor.. note that both are fixable

[spaced-comment](http://eslint.org/docs/rules/spaced-comment) and [no-multi-spaces](http://eslint.org/docs/rules/no-multi-spaces)

Our average code base does not agree but I think mostly because it was never enforced. There's no convention in the failing projects and they are inconsistent

|     | repo

[2017-02-06 12:17] gabro opened #102 "Add gdsm to linto config"

[2017-02-06 15:27] gabro commented on #101
Mm, seeing this I kind want to add a 'linto --fix' that automatically opens the PRs...

[2017-02-06 15:46] giogonzo commented on #101
that would be 💅 ❤️

[2017-02-07 00:12] gabro commented on #101
oh well, https://github.com/buildo/formo/pull/35

[2017-02-15 09:52] #98 closed, assigned to nobody

[2017-02-20 11:30] ascariandrea opened #105 "Add consistent-return"
## requirements
Have a convention for `return`s.

## specs
http://eslint.org/docs/rules/consistent-return

## misc
@buildo/frontend thoughts?

[2017-02-20 11:42] dhinus commented on #105
|     | repo                              | errors | warnings |
| :-: | :-------------------------------- | :----: | :------: |
|  ❌  | buildo/aliniq                     |    9   |     0    |
|  ❌  | buildo/web-shared                 |    2   |     0    |
|  ❌  | buildo/lexdoit                    |   24   |     0    |
|  ❌  | buildo/ipercron                   |    2   |     0    |
|  ✅  | buildo/b

[2017-02-20 18:19] gabro commented on #105
I know I'm aiming for the moon, but I think the most sensible way of dealing with the problem (provided we have it) is to use a static type checker and annotate the return type.

Also, having short functions helps.

That being said, this could be a temporary measure that helps, so if someone is willing to backport this on our code base, I'm 👍

[2017-02-21 09:13] ascariandrea commented on #105
@gabro I would love to have a static type checker for our FE projects, but it needs a lot of effort :/

[2017-02-21 09:19] gabro commented on #105
I know, it's just a consideration :) As I said, this rule is fine provided someone is willing to update our projects to conform to it

[2017-02-22 10:29] giogonzo commented on #101
closed by #104

[2017-02-22 10:29] #101 closed, assigned to nobody

[2017-02-23 11:19] FrancescoCioria opened #107 "add eslint-plugin-import/first"
## requirements
From their [doc](https://github.com/benmosher/eslint-plugin-import/blob/master/docs/rules/first.md)

This is currently happening in every project we have that uses:
- babel6
- metarpheus
- prelude

In these projects we call the prelude function before metarpheus `import`, but since babel6 that `import` is (correctly) hoisted to the top so the prelude is actually called after it lea

[2017-03-20 14:24] veej opened #108 "pin eslint-plugin-react to <6.10.1"
## requirements
Due to https://github.com/yannickcr/eslint-plugin-react/issues/1117, `eslint-plugin-react` is breaking our builds.

## specs
Pin `eslint-plugin-react` to version <6.10.1

## misc
{optional: other useful info}

[2017-03-20 14:42] #108 closed, assigned to veej

[2017-03-20 23:29] yannickcr commented on #108
`v6.10.3` is now published and should fix the issue. Sorry for the inconvenience.

[2017-03-21 13:51] gabro commented on #108
@yannickcr thank you for the quick fix and for letting us know! 👍  Keep up with the great work!

[2017-05-04 12:40] FrancescoCioria opened #111 "Disallow Use of `undefined` Variable (no-undefined)"
Disallow Use of `undefined` Variable (no-undefined)

eslint rule: http://eslint.org/docs/rules/no-undefined

[2017-05-04 12:41] gabro commented on #111
linto report?

[2017-05-04 14:32] FrancescoCioria commented on #111
mmm, that rule forbids other things we use and like -> ex: `x = y ? t.ciao : undefined`

what I really wanted to forbid was `x === undefined` as at buildo we all agreed to use `typeof x !== 'undefined'`...
soo, I'll close this issue for now

[2017-05-04 14:32] #111 closed, assigned to nobody

[2017-05-09 14:36] ecamellini opened #113 "Enfore space before '/>' in self-closing tags"
## requirements
In case of self-closing tags (e.g., `<MyComponent />`) a space should always be present before the closing `/>`.

Example:
The following should be considered an error: `<MyComponent/>`

## specs
{optional: describe technical specs to implement this feature, if not obvious}

## misc
{optional: other useful info}

[2017-05-09 14:48] gabro commented on #113
I agree with picking a rule for this, is there an existing rule that does it?

[2017-05-09 14:50] veej commented on #113
https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-space-before-closing.md

[2017-05-09 14:51] gabro commented on #113
Some volunteer to run a linto report?

[2017-05-09 14:52] gabro commented on #113
Detailed instructions here: https://github.com/buildo/eslint-config#proposing-a-new-rule

[2017-05-09 14:55] ecamellini commented on #113
@gabro there is a rule, I already sent a PR but didn't run linto report. I can try to do it

[2017-05-09 14:55] gabro commented on #113
Yes, please. If you have problems, let me know so that we can update the guide :)

[2017-05-09 15:11] ecamellini commented on #113
@gabro I don't have the rights to access some of the repos. These are the results so far:
![image](https://cloud.githubusercontent.com/assets/6418684/25857810/6f2c06c0-34da-11e7-9c46-b256a92cecd1.png)

[2017-05-09 15:13] veej commented on #113
|     | repo                              | errors | warnings |
| :-: | :-------------------------------- | :----: | :------: |
|  ❌  | buildo/aliniq                     |   77   |     0    |
|  ❌  | buildo/web-shared                 |   34   |     0    |
|  ❌  | buildo/lexdoit                    |   17   |     0    |
|  ❌  | buildo/ipercron                   |    6   |     0    |
|  ✅  | buildo/b

[2017-05-09 15:28] gabro commented on #113
Thanks! It's also fixable, so maybe linto can fix all projects automagically 😇

[2017-05-09 16:02] giogonzo commented on #113
Can someone remove web-shared? It's ☠

[2017-05-09 16:05] gabro commented on #113
Oh, dead? I was fixing it :D

[2017-05-09 16:05] gabro commented on #113
aaand it's gone (from linto-config)

[2017-05-09 16:08] gabro commented on #113
If somebody wants to have the pleasure:

[code]

remove `-n` to actually open the pull requests

[2017-05-09 16:08] veej commented on #113
oh, and since we're on the subject, could you add GDSM projects please? :P

[2017-05-09 16:12] #102 closed, assigned to nobody

[2017-05-09 16:12] gabro commented on #113
Done!

[2017-05-11 16:37] #113 closed, assigned to ecamellini

[2017-05-16 14:28] francescogior opened #116 "add smooth release"
## requirements
{describe the new feature}

## specs
{optional: describe technical specs to implement this feature, if not obvious}

## misc
{optional: other useful info}